.logo {
  margin-bottom: -100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.c1 {
  margin-left: 36pt;
  padding-top: 6pt;
  padding-left: 0pt;
  padding-bottom: 6pt;
  line-height: 1.4625;
  text-align: left;
  margin-right: 8pt
}

.c16 {
  margin-left: 14pt;
  padding-top: 6pt;
  padding-bottom: 6pt;
  line-height: 1.4625;
  text-align: left;
  margin-right: 8pt
}

.c2 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left
}

.c12 {
  color: #F5F5F5;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c0 {
  color: #F5F5F5;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Droid Sans";
  font-style: normal;
  line-height: 20px;
}

.c00 {
  margin-top: 20px;
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: right
}

.c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left
}

.c17 {
  color: #F5F5F5;
  vertical-align: baseline;
  font-size: 14pt;
  font-style: normal
}


.c11 {
  padding: 0;
  margin: 0
}

.c8 {
  padding: 10pt 8% 10pt 8%;
}

.c4 {
  background-color: #2B2F33;
}

.title {
  padding-top: 0pt;
  color: #F5F5F5;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #F5F5F5;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  text-align: left
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
}

li {
  color: #F5F5F5;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #F5F5F5;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #F5F5F5;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #F5F5F5;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #F5F5F5;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #F5F5F5;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #F5F5F5;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #F5F5F5;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  font-style: italic;
  text-align: left
}
